<h3> Comments </h3>
<% @post.comments.each do |comment| %>
	<div class = "well">
		<p>
			<strong><%= comment.username %></strong>: <%= comment.body %>
			<%= link_to 'delete', [comment.post, comment],
				method: :delete,
				data: {confirm: "Are you sure?"},
				:class => "btn btn-danger"
			%>
		</p>
	</div>
<% end %>